.search-form {
  display: flex;
  .search-input {
    display: block;
    width: 100%;
    min-height: 45px;
    height: 45px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #777777;
    border-radius: 0;
    background-color: #f7f7f7;
    border: none;
    letter-spacing: 0.5px;
  }
  .search-submit {
    padding: 0 16px;
    background: #f7f7f7;
  }
}
