.top-products {
  padding: 90px 0;
  .top-products-heading {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: #444;
    }
    margin-bottom: 40px;
  }
  .see-all-products {
    margin-top: 20px;
    text-align: right;
    @include responsive(sm) {
      text-align: center;
    }
    a {
      @include responsive(sm) {
        padding: 10px 18px;
        display: block;
        font-size: 16px;
      }
    }
  }
}
